
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

#k-topbar .brand {
  color: #BBB;
  display: block;
  float: left;
  padding-top: 5px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 200;
}

.navbar-nav li a {
  padding-top: 6px; /* Need to overwrite bootstrap defaults */
  padding-bottom: 6px;
  line-height: 20px;
  font-size: 14px;
  color: #BFBFBF;
  background-color: 'black';
}

#about-menu-a {
  padding-top: 10px; /* Need to overwrite bootstrap defaults */
  padding-bottom: 2px;
  font-size: 12px;
}

#about-menu-div {
  padding: 10px 20px 10px 20px;
  width: 400px;
  max-width: 100%;
}

/* Needed to tag links with an ID to overide bootstrap */
#about-menu-a,
#tools-menu-a,
#user-menu-a  {
  background: transparent;
}

#about-menu-a:hover,
#tools-menu-a:hover,
#user-menu-a:hover  {
  color: white;
  background: transparent;
}

li.last-nav-link {
  margin-right: 20px;
}

a.nav-menu i,
a.nav-menu-item i {
  margin-right: 5px;
}
/***
#k-topbar ul.secondary-nav {
  float: right;
  margin-left: 10px;
  padding-right: 0;
  display: block;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
}

#k-topbar ul.secondary-nav li {
  display: block;
  float: left;
}

#k-topbar ul.secondary-nav i {
  padding-right: 5px;
}

#k-topbar ul.secondary-nav a {
  display: block;
  float: none;
  padding-top: 6px;
  padding-right: 15px;
  text-decoration: none;
  color: #BFBFBF;
  font-size: 13px;
  cursor: pointer;
}
**/


#k-topbar ul.secondary-nav a:hover {
  color: white;
}

#k-topbar ul.secondary-nav i.tools {
  /*
  border: 0 none;
  height: 32px;
  width: 32px;

  background: url("../images/sprites-32.png") no-repeat scroll -96px 0 transparent;
  */

  background-position: 0px 0px;
  background-image: url("../images/gear-16.png");
  opacity: 0.7;

  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 0px;
  margin-right: 3px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;

}
#k-topbar ul.secondary-nav a:hover i.tools {
  opacity: 1;
}


#k-topbar ul.secondary-nav .caret {
  border-top-color: #BFBFBF !important;
  border-bottom-color: #BFBFBF !important;
  vertical-align: middle;
  margin-left: 4px;
}

#k-topbar ul.secondary-nav a:hover .caret {
  border-top-color: white !important;
  border-bottom-color: white !important;
}

#k-topbar ul.dropdown-menu {
  list-style: none;
  font-size: 14px;
}

#k-topbar ul.dropdown-menu li {
  float: none;
}

#k-topbar .dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #999;
}

#k-topbar ul.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  /* line-height: 1.428571429; */
  color: #333;
  white-space: nowrap;
}


#k-topbar ul.dropdown-menu>li>a:hover {
  color: #333;
  background: #ccc;
}

/* content blocks */
.k-panel .block-content
{
  padding: 0;
  text-align: left;
  font-size: 120%
}



/* Content styling */

.widget_body .text {
  padding: 10px;
}

.widget_body .text p {
}

/** SEARCH BOX **/

/***
.content-selection .action-buttons button {
  background: #AAAAAA;
  background: #d1d1d1;
  //background: #e8e8e8;
  border-right: 3px blue;
}
***/

.content-selection .tool-button {
    height: 32px;
    width: 32px;
    background: #d1d1d1;
    border: 0 none;
}

.content-selection td.action-buttons {
  border-right: 1px solid #bbb;
}

.content-selection .tool-button:hover {
    background: #bbb;
}

.content-selection span.glyphicon {
    font-size: 1.5em;
    color: #7C7C7C;
}

.content-selection span.glyphicon:hover {
    color: black;
}

.content-selection input,
.content-selection div.container
{
  width: 100%;
}


/* Content search */

.ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0;
  display:block;
  text-align: left;
  left: 0;
  border-bottom: 1px solid #BBB;
  background: #DDD;
  /*
  float: left;
  */
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  zoom: 1;
/*  float: left;
*/
  clear: left;

  width: 100%;
}
.ui-menu .ui-menu-item a {
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  padding-left: 1em;
  line-height:1.5;
  zoom:1;
  color: #333;
}
.ui-menu .ui-menu-item-selected a,
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
/*
  margin: -1px;
  border: 1px solid #fbd850;
  font-weight: bold;
  */
  color: #eb8f00;
  outline: none;
  background: #fdf5ce
}

.ui-menu .ui-menu-item a img {
  margin-right: 0.4em;
}

.ui-menu .ui-menu-item-first-hist {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #BBB;
}

.ui-menu li.tool-menu-item { padding: 5px; }
.ui-menu li.tool-name { padding: 5px; }

/*
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(../images/?new=fdf5ce&w=1&h=400&f=png&q=100&fltr[]=over|textures/02_glass.png|0|0|100) 50% 50% repeat-x; font-weight: bold; color: #c77405; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(../images/?new=ffffff&w=1&h=400&f=png&q=100&fltr[]=over|textures/02_glass.png|0|0|65) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; outline: none; text-decoration: none; }
*/

/* Column headers */

.k-panel .col-summary {
    background-color: transparent;
    padding: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.k-panel .col-summary .title {
    margin: 0px;
    text-align: left;

/*
    line-height: 1;
    font-size: 30px;
    line-height: 36px;
    font-size: 24px;
    line-height: 30px;
*/
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: inherit;
    text-rendering: optimizelegibility;
    background-color: transparent;
}

.k-panel .col-summary div.widget-title-icon {

}

.k-panel .col-summary div.wrapper {display:table;}
.k-panel .col-summary div.cell {display:table-cell; vertical-align:middle;}

.k-panel .col-summary img {
    margin: 0;
    margin-right: 10px;
}

.k-panel .col-summary .info {
  margin-left: 0px;
}

.k-panel .panel-body {
  padding: 0;
}

.widget-title-block {
  border-bottom: 1px solid #CCCCCC;
}

/*** DRAGGING CONTENT */

.ui-drop-hover {
  background: #fdf5ce;
}

/**** TEXT ****/

.widget_body .text h1 {
  line-height: 1.3;
}

/** CODE MIRROR **/

ol.codemirror_toolbar li {
  margin: 0;
}
/*ol.codemirror_toolbar li a {
    background-size: 16px 16px;
}

ol.codemirror_toolbar li a {
  height: 30px;
  display: inline-block;
  padding: 0;
}*/

.widget_container .widget_body_code {
  overflow: visible;
}

.codemirror_edit {
  overflow:hidden;
}



/***** H3 - collapse ****/

.widget_body h3 {
  border-top: 1px solid #E5E5E5;
  color: #777;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

.widget_body h3.first {
  border-top: 0px;
}

.widget_body h3 a.toggle {
  display: inline-block;
  padding: 16px 0 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 0px !important;
  height /**/:16px;
  width: 16px;
  background: url(/resource/theme/labwiki/images/toggle.png) 0px -16px no-repeat;
}

.widget_body h3 a.toggle-closed {
  background: url(/resource/theme/labwiki/images/toggle.png) 0px 3px no-repeat;
}

.widget_body h3 a.toggle:hover {
  background-color: white;
}


/**** TOOLBAR ***
.codemirror_toolbar_container {
  border-bottom: 1px solid silver;
  text-align: left;
}
**/

/** TOOL BAR **/

div.widget-title-toolbar-container {
  border-top: 1px solid #CCCCCC;

}

div.widget-title-toolbar-container button {
  font-size: 16px;
  padding: 4px;
  border: 1px solid transparent;
  background: transparent;
  color: black;
  opacity: 0.8;

}

div.widget-title-toolbar-container button:hover {
  color: black;
  border: 1px solid #777;
  opacity: 1;
}

div.widget-title-toolbar-container button.toolbar-button-disabled:hover {
  cursor: not-allowed;
  border: 1px solid transparent;
  opacity: 0.2;
}

div.widget-title-toolbar-container button.toolbar-button-disabled {
  opacity: 0.2;
}

div.widget-title-toolbar-container span.label {
  color: black;
  opacity: 0.8;
}

/****** OTHER TOOLBAR - still used? *****/

div.widget_toolbar
{
  border-bottom: 1px solid silver;
  width: 100%;
  padding: 2px;
}

div.widget_toolbar ol {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

div.widget_toolbar ol li {
  display: inline-block;
  list-style: none;
}

div.widget_toolbar ol a {
  text-decoration: none;
}

div.widget_toolbar ol a {
  display: inline-block;
  padding: 22px 0 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 0px !important;
  height /**/:22px;

  width: 22px;
  border: 1px solid transparent;  /* make room for the 'selected' border */
  background-color: silver
}

div.widget_toolbar ol a:hover {
  border: 1px solid silver;
  background-color: silver;
}

div.widget_toolbar ol li a {
  margin: 4px;
  background-size: 16px 16px;
}

.label-INFO { background-color: #468847; }
.label-WARN { background-color: #f89406; }
.label-ERROR { background-color: #b94a48; }

/*
 * SUGGESTION LIST
 */
ul.suggestion-list {

}

ul.suggestion-list div.image {
  display: inline-block;
  vertical-align:top;
}

ul.suggestion-list div.t {
  display: inline-block;
  vertical-align:top;
}

ul.suggestion-list div.image img {
  padding-top: 3px;
  opacity: 0.4;
  vertical-align: middle;
}

ul.suggestion-list div.title {
  font-size: 1.2em;
}

ul.suggestion-list div.sub_title {
  font-size: 0.9em;
  color: #333;
}


//style='display: inline-block'
